name: Pull request checks
on:
    pull_request:
        branches:
            - dev
            - master
jobs:
    test:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
            contents: read
            checks: write
            id-token: write
        steps:
            -   uses: actions/checkout@v4
            
            -   name: Set up JDK
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: 21
            -   name: Change wrapper permissions
                run: chmod +x ./gradlew
            -   name: Run tests
                run: ./gradlew clean test
            -   name: Publish Test Report
                uses: mikepenz/action-junit-report@v5
                if: success() || failure() # always run even if the previous step fails
                with:
                    report_paths: '**/build/test-results/test/TEST-*.xml'
            -   name: Collect coverage
                run: ./gradlew jacocoRootReport
            -   name: Add coverage to PR
                id: jacoco
                uses: madrapps/jacoco-report@v1.3
                with:
                    paths: ${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/jacocoRootReport.xml
                    token: ${{ secrets.GITHUB_TOKEN }}
                    min-coverage-overall: 90
                    min-coverage-changed-files: 80
                    debug-mode: false
                    title: Code Coverage
                    update-comment: true
            -   name: Get coverage info
                run: |
                    echo "Total coverage ${{ steps.jacoco.outputs.coverage-overall }}"
                    echo "Changed Files coverage ${{ steps.jacoco.outputs.coverage-changed-files }}"
            -   name: Check
                if: ${{ steps.jacoco.outputs.coverage-overall < 90.0 }}
                uses: actions/github-script@v6
                with:
                    script: |
                        core.setFailed('Overall coverage is less than 90%!')
    check_style:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Set up JDK
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: 21
            -   name: Change wrapper permissions
                run: chmod +x ./gradlew
            -   name: Run checkstyle
                run: ./gradlew checkstyleMain
            -   name: Publish report
                uses: actions/upload-artifact@v4
                with:
                    name: checkstyleReport
                    path: '**/build/reports/checkstyle/'
            